In [ ]:
#########################################################
# MINI-PROJET
# Student : NANA Sidwendluian Romaric
# Classroom : Master FD&IA - UV-BF
# Date : 07.11.2021
#########################################################

In [1]:
import pandas as pd

### Décompression du fichier Zip téléchargé

In [2]:
## extracting zip file
import zipfile

def main():

    # assigning filename to a variable
    file_name = 'BF.zip'

    # opening Zip using 'with' keyword in read mode
    with zipfile.ZipFile(file_name, 'r') as file:
        # printing all the information of archive file contents using 'printdir' method
        print(file.printdir())

        # extracting the files using 'extracall' method
        print('Extracting all files...')
        file.extractall()
        print('Done!') # check your directory of zip file to see the extracted files

if __name__ == '__main__': main()

File Name                                             Modified             Size
readme.txt                                     2021-10-28 03:19:48         8716
BF.txt                                         2021-10-28 03:19:48      1182036
None
Extracting all files...
Done!

### Importation des données du Burkina

In [17]:
df = pd.read_csv('BF.txt', sep='\t', header=None)

In [18]:
df.shape

(11297, 19)

In [19]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,2353158,Zyonguen,Zyonguen,NaN,12.36667,-0.45000,P,PPL,BF,NaN,04,NaN,NaN,NaN,0,NaN,293,Africa/Ouagadougou,2012-06-05
1,2353159,Zyiliwèlè,Zyiliwele,NaN,12.38333,-2.73333,P,PPL,BF,NaN,06,NaN,NaN,NaN,0,NaN,277,Africa/Ouagadougou,2012-06-05
2,2353160,Zyanko,Zyanko,NaN,12.78333,-0.41667,P,PPL,BF,NaN,05,NaN,NaN,NaN,0,NaN,301,Africa/Ouagadougou,2012-06-05
3,2353161,Zouta,Zouta,NaN,13.14908,-1.28197,P,PPL,BF,NaN,05,70.0,NaN,NaN,0,NaN,306,Africa/Ouagadougou,2010-07-31
4,2353162,Zourtenga,Zourtenga,NaN,12.95741,-1.28745,P,PPL,BF,NaN,05,NaN,NaN,NaN,0,NaN,290,Africa/Ouagadougou,2018-09-05

In [20]:
df=df[[0,1,4,5]]

In [21]:
df.head()

         0          1         4        5
0  2353158   Zyonguen  12.36667 -0.45000
1  2353159  Zyiliwèlè  12.38333 -2.73333
2  2353160     Zyanko  12.78333 -0.41667
3  2353161      Zouta  13.14908 -1.28197
4  2353162  Zourtenga  12.95741 -1.28745

In [22]:
df.columns=['ID', 'location_name', 'lat', 'long']

In [23]:
df.head()

        ID location_name       lat     long
0  2353158      Zyonguen  12.36667 -0.45000
1  2353159     Zyiliwèlè  12.38333 -2.73333
2  2353160        Zyanko  12.78333 -0.41667
3  2353161         Zouta  13.14908 -1.28197
4  2353162     Zourtenga  12.95741 -1.28745

In [24]:
df.to_csv('burkina_location.csv', index = False )

### 4. Opérations sur le fichier CSV "burkina_location.csv"

In [26]:
burkina_location = pd.read_csv('burkina_location.csv')
burkina_location.head()

        ID location_name       lat     long
0  2353158      Zyonguen  12.36667 -0.45000
1  2353159     Zyiliwèlè  12.38333 -2.73333
2  2353160        Zyanko  12.78333 -0.41667
3  2353161         Zouta  13.14908 -1.28197
4  2353162     Zourtenga  12.95741 -1.28745

In [27]:
burkina_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11297 entries, 0 to 11296
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             11297 non-null  int64
 1   location_name  11297 non-null  object
 2   lat            11297 non-null  float64
 3   long           11297 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 353.2+ KB

### 4.1 Extraction des données contenant le nom "gounghin"

In [31]:
burkina_location[burkina_location['location_name'].str.contains('gounghin')]

Empty DataFrame
Columns: [ID, location_name, lat, long]
Index: []

In [33]:
burkina_location[burkina_location['location_name'].str.contains('Gounghin')]

             ID                  location_name       lat     long
147     2353306                       Gounghin  12.06677 -1.42134
7256    2360473                       Gounghin  12.62488 -1.36398
10227   2570204                       Gounghin  12.31436 -1.37900
10688  10342749                       Gounghin  12.06667 -0.15000
10701  10629032             BICIAB // Gounghin  12.35921 -1.54273
10760  11257296            Gounghin Department  12.06671 -0.15484
10787  11900526                  Gounghin Nord  12.36120 -1.55055
10788  11900528  Zone Industrielle de Gounghin  12.36631 -1.54137
10794  11900619                   Gounghin Sud  12.35298 -1.54342
10808  11900680                       Gounghin  12.35895 -1.54442

In [34]:
gounghin=burkina_location[burkina_location['location_name'].str.contains('Gounghin')]

In [35]:
gounghin.to_csv('gounghin.csv', index = False )

### 4.2 Extraction sous-partie des données de "burkina_location" ayant des noms de lieux dont les premières lettres sont comprises entre 'A'et 'P'

In [43]:
location_name_A_to_P = burkina_location[burkina_location['location_name'].str.get(0).between('A','P')].sort_values(by='location_name', ascending=True)

In [44]:
location_name_A_to_P

             ID location_name       lat     long
10590   6913771        Abanda  15.06808 -0.59805
10013   2363251        Abanga  13.32429  0.31151
11035  11980339        Abassi  12.27728 -1.13662
10551   6874881         Abaye  13.44080 -3.90190
10011   2363249          Abra  13.09140 -1.34752
...         ...           ...       ...      ...
10078   2570015       Pézinga  12.05298 -1.47002
3468    2356655            Pê  11.30000 -3.53333
3268    2356453            Pô  12.30000 -2.61667
3269    2356454            Pô  11.16972 -1.14500
10360   6296406    Pô Airport  11.17854 -1.14498

[7825 rows x 4 columns]

### 4.3 Identification de la latitude, la longitude minimale et les noms de lieux correspondants dans le fichier burkina_location.csv.

In [49]:
burkina_location['lat'].min()

9.4295

In [50]:
burkina_location.sort_values(by='lat',ascending=True).head(1)

             ID location_name     lat    long
11149  12224995  Fadio-Mèpèhn  9.4295 -2.7775

In [51]:
burkina_location['long'].min()

-5.48333

In [55]:
burkina_location.sort_values(by='long',ascending=True).head(1)

           ID location_name    lat     long
1255  2354426      Tinobolé  10.75 -5.48333

### 4.4 Identification des lieux dont les coordonnées sont comprises entre (lat >= 11 et long <= 0.5)

In [67]:
# latitude est supérieure ou égale à 11
lat_sup_11=burkina_location['lat']>=11

# longitude est inférieure ou égale à 0.5
long_inf_zero_5=burkina_location['long']<=0.5

# lieux dont les coordonnées sont comprises entre (lat >= 11 et long <= 0.5)
burkina_location[lat_sup_11 & long_inf_zero_5]

             ID location_name       lat     long
0       2353158      Zyonguen  12.36667 -0.45000
1       2353159     Zyiliwèlè  12.38333 -2.73333
2       2353160        Zyanko  12.78333 -0.41667
3       2353161         Zouta  13.14908 -1.28197
4       2353162     Zourtenga  12.95741 -1.28745
...         ...           ...       ...      ...
11288  12358467          Katé  14.13461 -0.81244
11290  12358654      Koulholé  13.43898 -1.16817
11293  12358657     Nagbingou  13.55244 -0.46760
11295  12358676         Sella  14.35699  0.28666
11296  12358677       Kiefaye  13.78260 -1.58790

[9026 rows x 4 columns]

### 5. Sorties Excel
* installer la librairie xlrd et openpyxl

### 5.1 Création du fichier Excel

In [76]:
## Création du fichier Excel
excel_file = pd.ExcelWriter("mini_projet.xlsx")

### 5.2 Enregistrement de données dans la feuille "gounghin" du fichier Excel

In [77]:
gounghin.to_excel(excel_file,sheet_name='gounghin',index = False)

### 5.3 Enregistrement de données dans la feuille "A_to_P" du fichier Excel

In [78]:
location_name_A_to_P.to_excel(excel_file,sheet_name='A_to_P',index = False)

In [79]:
### la methode save() pour enregistrer le fichier excel_file
excel_file.save()