In [1]:
import pandas as pd

In [2]:
## extracting zip file
import zipfile

def main():

    # assigning filename to a variable
    file_name = 'BF.zip'

    # opening Zip using 'with' keyword in read mode
    with zipfile.ZipFile(file_name, 'r') as file:
        # printing all the information of archive file contents using 'printdir' method
        print(file.printdir())

        # extracting the files using 'extracall' method
        print('Extracting all files...')
        file.extractall()
        print('Done!') # check your directory of zip file to see the extracted files

if __name__ == '__main__': main()

File Name                                             Modified             Size
readme.txt                                     2021-10-28 03:19:48         8716
BF.txt                                         2021-10-28 03:19:48      1182036
None
Extracting all files...
Done!

In [3]:
df = pd.read_csv('BF.txt', sep='\t', header=None)

In [4]:
df.shape

(11297, 19)

In [5]:
df=df[[0,1,4,5]]

In [6]:
df.head()

         0          1         4        5
0  2353158   Zyonguen  12.36667 -0.45000
1  2353159  Zyiliwèlè  12.38333 -2.73333
2  2353160     Zyanko  12.78333 -0.41667
3  2353161      Zouta  13.14908 -1.28197
4  2353162  Zourtenga  12.95741 -1.28745

In [7]:
df.columns=['ID', 'location_name', 'lat', 'long']

In [8]:
df.head()

        ID location_name       lat     long
0  2353158      Zyonguen  12.36667 -0.45000
1  2353159     Zyiliwèlè  12.38333 -2.73333
2  2353160        Zyanko  12.78333 -0.41667
3  2353161         Zouta  13.14908 -1.28197
4  2353162     Zourtenga  12.95741 -1.28745

In [9]:
df.to_csv('burkina_location.csv', index = False )

In [10]:
gh=df[df['location_name'] == 'gounghin']

In [11]:
gh

Empty DataFrame
Columns: [ID, location_name, lat, long]
Index: []

In [12]:
gh_avec_G_majuscule=df[df['location_name'] == 'Gounghin']

In [13]:
gh_avec_G_majuscule.shape

(5, 4)

In [14]:
gh_avec_G_majuscule

             ID location_name       lat     long
147     2353306      Gounghin  12.06677 -1.42134
7256    2360473      Gounghin  12.62488 -1.36398
10227   2570204      Gounghin  12.31436 -1.37900
10688  10342749      Gounghin  12.06667 -0.15000
10808  11900680      Gounghin  12.35895 -1.54442

In [15]:
gh_avec_G_majuscule.to_csv('gounghin.csv', index = False )